
@font-face {
    font-family: 'Founders';
    src: url(/FoundersGroteskCondensed-Bold.ttf);
}
@font-face {
    font-family: 'Main';
    src: url(/K2FifZFYk-dHSE0UPPuwQ7CrD94i-NCKm-U48M1wqxnD.ttf);
}
*{ margin:0;
padding:0;
box-sizing: border-box;
font-family: Main;
scroll-behavior: smooth;
}

html,body{
width:100%;
height:100%;
background-color: #fff;
}

/* .left,.right{
    z-index: 100;
}
.left{
    background:#385A64;
}

.lefth,.righth{
    width: 100%;
    font-size: 18vw;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.righth{
    font-size: 17vw;
} */

.top{
  width:100%;
  height: 50vh;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 100;
}

.toph{
  font-size: 15vw;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  bottom: 50%;
}
.bottomh{
  font-size: 15vw;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  top: -5%;
}
.center{
  width:100%;
  min-height: 100%;
}

.bottom{
  width:100%;
  height: 50vh;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  z-index: 100;
}
nav{
    width: 100%;
    /* border-bottom: 1px solid rgb(98, 95, 95); */
}
.logo {
  height: 4.2vh;
  overflow: hidden;
}
.logo h1{
  transition: cubic-bezier(0.075, 0.82, 0.165, 1)0.5s;
}
.logo:hover #first {
  margin-top: -4vh;
}
.rightdiv img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body.menu-open {
    overflow: hidden; 
}
.nav-links {
    position: absolute;
    top: -100%;
    transition: top 0.7s ease-in-out;
  }
  .nav-links.show-menu {
    top: 0px; 
  }
  @media (min-width: 768px) {
    .nav-links {
        position: static; 
        top: auto;
        transform: translateY(0); 
        transition: none; 
    }
  
    .nav-links.show-menu {
        transform: translateY(0);
    }
  }
  .hidden{
    display: hidden;
  }

  .heading h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 0.5px #000;
  }
/* .about{
  position: relative;
}
.adiv{
  position: absolute;
  
} */
  .aleft,.aright{
    overflow: hidden;
  }
  .aright-img{
    width: 100%;
    height: 100%;
    background-image: url('./Images/4884170.jpg');
    background-size: cover;
  }
 @media(max-width:766px) {
  .aright-img{
    background-image: none
  }
 }
  .aleftele{
    /* background: lightcoral; */
    width: 100%;
    height: 100%;
  }


  /* overflow: hidden; */
  /* .image {
    width: 100%;
    height: 100%;
    position: sticky;
    top:0;
  } */
  .aright img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .language {
    display: grid;
    width: 30vw;
    align-items: center;
    justify-content: center;
    /* background-color: aliceblue; */
    justify-items: center;
  }
  .skill-box {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap:10px;
    object-fit: cover;
  }
  
  




  .games{
    background-image: url('https://img.freepik.com/free-vector/video-game-developer-concept-illustration_114360-5866.jpg?w=740&t=st=1716998034~exp=1716998634~hmac=627ffb165411dab6ce72ac6972b3d0c60d128099cf1e66ac23e897bf83bd553c');
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-color: #416e7b;
  }

  